@if (bookToShow()) {
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
    @for (item of bookToShow(); track item.id) {
      <app-book-card 
        [book]="item"
        [showFavourite]="true" 
        [showDetailsBtn]="true"
        (addInFavourite)="onAddInFavouriteEvent($event)"
      />
    }
  </div>
}
 <!-- Pagination -->
<div class="flex items-center justify-center gap-2 mt-4">
  <button
    class="px-3 py-1 rounded bg-gray-200 disabled:opacity-50"
    [disabled]="currentPage() === 0"
    (click)="prevPage()">
    Prev
  </button>

  <ng-container *ngFor="let page of visiblePages()">
    <button
      class="px-3 py-1 rounded"
      [class.bg-blue-500]="page === currentPage()"
      [class.text-white]="page === currentPage()"
      [class.bg-gray-200]="page !== currentPage()"
      (click)="goToPage(page)">
      {{ page + 1 }}
    </button>
  </ng-container>

  <button
    class="px-3 py-1 rounded bg-gray-200 disabled:opacity-50"
    [disabled]="currentPage() >= maxPage()"
    (click)="nextPage()">
    Next
  </button>
</div>