<app-back-button themeColor="accent" tooltip="Go back to list"/>

@if(book()){
  <mat-card class="book-details-card" @fadeInOut>
  <!-- Thumbnail -->
  <img mat-card-image 
       [src]="thumbnail()" 
       [alt]="book().volumeInfo.title">

  <!-- Title -->
  <mat-card-header>
    <mat-card-title>{{ book().volumeInfo.title }}</mat-card-title>
  </mat-card-header>

  <!-- Authors -->
  <mat-chip-set>
    @for ( author of authorList(); track author) {
      <mat-chip >
        {{ author }}
      </mat-chip>
    }
  </mat-chip-set>

  <!-- Book Info -->
  <mat-card-content>
    <p><strong>Publisher:</strong> {{ book().volumeInfo.publisher }}</p>
    <p><strong>Published Date:</strong> {{ book().volumeInfo.publishedDate }}</p>
    <p>{{ book().volumeInfo.description }}</p>

    <!-- Categories -->
    <mat-chip-set>
      @for ( category of categoryList(); track category) {
        <mat-chip>
          {{ category }}
        </mat-chip>
      }
    </mat-chip-set>

    <p><strong>Pages:</strong> {{ book().volumeInfo.pageCount }}</p>
    <p><strong>Language:</strong> {{ book().volumeInfo.language }}</p>
    <p><strong>Print Type:</strong> {{ book().volumeInfo.printType }}</p>
  </mat-card-content>

  <!-- Actions -->
  <mat-card-actions>
    <a mat-button color="primary" 
       *ngIf="book().saleInfo.isEbook && book().saleInfo.buyLink"
       [href]="book().saleInfo.buyLink" target="_blank">
      Buy / Preview
    </a>
   <!-- Add to Favourites -->
  <!-- Favourite (წითელი ღილაკი) -->
    <button mat-raised-button class="btn-favourite" (click)="addToFavouritesEvent()">
      <mat-icon>favorite</mat-icon>
      Add to Favourites
    </button>

    <button mat-raised-button class="btn-catalogue" (click)="addToCatalogueEvent(book())">
      <mat-icon>library_add</mat-icon>
      Add to Catalogue
    </button>

  </mat-card-actions>

  <!-- Footer -->
  <mat-card-footer>
    <a mat-button color="accent" 
       [href]="book().volumeInfo.previewLink" target="_blank">
      Open in Google Books
    </a>
  </mat-card-footer>
</mat-card>
}
