<app-back-button/>

@let books = books$ | async;

<ng-container [ngTemplateOutlet]="bookCardTemplate"
  [ngTemplateOutletContext]="{ $implicit: books }"
 />

<ng-template #bookCardTemplate let-books>
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 space-y-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        @for ( book of books; track book.id) {
          <app-book-card 
            [book]="book"
            [showDelete]="true"
            (bookDelete)="onDeleteBookEvent($event)"
          />
        }
    </div>
  </div>
</ng-template>